.kartuchannel {
	text-align: center;
	position: relative;
	padding-top:10px;
	margin:10px;
	width:200px;
	height:140px;
	background:#ffffff;
	border:1px solid rgb(216, 219, 222);
    line-height:17px;
    text-align:center;
	font-size:13px;
}

.kartuchannel img {
	margin-bottom:5px;
	height:80px;
	width:auto
}

.tb_hijau {
	font-size:15px;
	font-family:Arial;
	width:133px;
	height:37px;
	border-width:1px;
	color:#757d6f;
	border-color:#b2b8ad;
	font-weight:bold;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	text-shadow:inset 0px 1px 0px #ced9bf;
	background:#dbe6c4;
  }
  
  .tb_hijau:hover {
	background: rgba(226, 236, 218, 1)
  }

  .tb_oren {
	font-size:15px;
	font-family:Arial;
	width:133px;
	height:37px;
	border-width:1px;
	color:rgba(125, 120, 111, 1);
	border-color:rgba(184, 180, 173, 1);
	font-weight:bold;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	box-shadow:inset 0px 0px 14px -3px rgba(250, 237, 220, 1);
	text-shadow:inset 0px 1px 0px rgba(217, 207, 191, 1);
	background:rgba(230, 219, 196, 1);
  }
  
  .tb_oren:hover {
	background: rgba(236, 230, 218, 1)
  }

  .tb_hijauauto {
	font-size:15px;
	font-family:Arial;
	width:auto;
	height:37px;
	border-width:1px;
	color:#757d6f;
	border-color:#b2b8ad;
	font-weight:bold;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	text-shadow:inset 0px 1px 0px #ced9bf;
	background:#dbe6c4;
  }
  
  .tb_hijauauto:hover {
	background: rgba(226, 236, 218, 1)
  }
				
  .tb_biruauto {
	font-size:15px;
	font-family:Arial;
	width:auto;
	height:37px;
	border-width:1px;
	color:#9697a9;
	border-color:#adaeb8;
	font-weight:bold;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	box-shadow:inset 0px 0px 14px -3px #dce9fa;
	text-shadow:inset 0px 1px 0px #bfcbd9;
	background:#c4cae6;
  }
  
  .tb_biruauto:hover {
	background: rgb(218, 231, 236)
  }			
				

.text-wrap {
	white-space: initial;
	word-break: break-word;
}
.width-50 {
	min-width: 10px;
}

.ratakanan {
	text-align:center;
}

.indukplay {
	width: 100%;
	top:0px;
}

.iframe-container {
	overflow: hidden;
	/*padding-top: 30%;*/
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: relative;
	top: 65px;
	width: 100%;
}

.columnvodbimbel {
	flex: 25%;
	max-width: 25%;
}

@media screen and (max-width: 1400px) {
	.columnmenu {
		flex: 30%;
		max-width: 30%;
		display: none;
	}

	.columnvod {
		flex: 20%;
		max-width: 20%;
	}

	.columnvodbimbel {
		flex: 25%;
		max-width: 25%;
	}

	.thumbbimbel {
		width:220px;
		height:140px;
	}

	.indukplay {
		width: 50%;
	}

	.avatar {
		height: 120px;
	}
	.lebarikon {
		width:120px;
	}

	.slider {
		width: 80%;
	}
}

@media screen and (max-width: 1100px) {

	.columnmenu {
		flex: 100%;
		max-width: 100%;
		display: none;
	}

	.columnvod {
		flex: 30%;
		max-width: 30%;
	}

	.columnvodbimbel {
		flex: 33.3%;
		max-width: 33.3%;
	}

	.thumbbimbel {
		width:220px;
		height:140px;
	}

	.indukplay {
		width: 60%;
	}

	.avatar {
		height: 120px;
		padding-bottom: 20px;
	}
	.lebarikon {
		width:120px;
		padding-bottom: 20px;
	}

	.slider {
		width: 80%;
	}
}

@media screen and (max-width: 950px) {

	.columnmenu {
		flex: 50%;
		max-width: 50%;
	}

	.columnvod {
		flex: 50%;
		max-width: 50%;
	}

	.columnvodbimbel {
		flex: 50%;
		max-width: 50%;
	}

	.thumbbimbel {
		width:176px;
		height:112px;
	}

	.indukplay {
		width: 60%;
	}

	.avatar {
		height: 120px;
		padding-bottom: 20px;
	}
	.lebarikon {
		width:100px;
		padding-bottom: 20px;
	}

	.slider {
		width: 80%;
	}
}

@media screen and (max-width: 766px) {

	.columnmenu {
		flex: 100%;
		max-width: 100%;
		display: none;
	}

	.columnvod {
		flex: 100%;
		max-width: 100%;
	}

	.columnvodbimbel {
		flex: 50%;
		max-width: 50%;
	}

	.thumbbimbel {
		width:176px;
		height:112px;
	}

	.indukplay {
		margin-top:20px;
		width: 60%;
	}

	.avatar {
		height: 120px;
		padding-bottom: 20px;
	}
	.lebarikon {
		width:120px;
		padding-bottom: 20px;
	}

	.slider {
		width: 80%;
	}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

	.columnmenu {
		flex: 100%;
		max-width: 100%;
		display: none;
	}

	.columnvod {
		flex: 100%;
		max-width: 100%;
	}

	.columnvodbimbel {
		flex: 50%;
		max-width: 50%;
	}

	.rowvod {
		padding: 10px 10px;
	}

	.grup {
		color: #0c0c0c;
	}

	.thumbbimbel {
		width:150px;
		height:100px;

	}

	.indukplay {
		width: 90%;
	}

	#video-youtube{
		max-width: 97%;
		width: 97%;
		height: 100%;
		/*position: fixed;*/
		top: 130px;
		text-align: center;
		alignment: center;
	}

	#video-placeholder {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		width: auto;
		height: auto;
	}

	.avatar {
		height: 50px;
		padding-bottom: 20px;
	}
	.lebarikon {
		width:50px;
		padding-bottom: 20px;
		font-size:10px;
	}

	.slider {
		width: 95%;
	}

	#video_playermp4 {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {

	.columnmenu {
		flex: 100%;
		max-width: 100%;
		display: none;
	}

	.columnvod {
		flex: 100%;
		max-width: 100%;
	}

	.columnvodbimbel {
		flex: 50%;
		width: 50%;
	}

	.rowvod {
		padding: 10px 10px;
	}

	.grup {
		color: #0c0c0c;
	}

	.thumbbimbel {
		width:120px;
		height:76px;
		margin: auto;
		padding: 0;
	}

	.indukplay {
		width: 90%;
	}

	#video-youtube{
		max-width: 97%;
		width: 97%;
		height: 100%;
		/*position: fixed;*/
		top: 130px;
		text-align: center;
		alignment: center;
	}

	#video-placeholder {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		width: auto;
		height: auto;
	}

	.avatar {
		height: 50px;
		padding-bottom: 20px;
	}
	.lebarikon {
		width:50px;
		padding-bottom: 20px;
		font-size:10px;
	}

	.slider {
		width: 95%;
	}

	#video_playermp4 {
		width: 100%;
	}
}
